:root {
  /* Primary */
  --pale-blue: hsl(225, 100%, 94%);
  --bright-blue: hsl(245, 75%, 52%);
  --shadow-main: hsl(232, 70%, 83%);

  /* Neutral */
  --very-pale-blue: hsl(225, 100%, 98%);
  --desaturated-blue: hsl(224, 23%, 55%);
  --dark-blue: hsl(223, 47%, 23%);

  /* Units */
  --radius: 20px;
}

* {
  font-family: "Red Hat Display", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  height: 100vh;
  background-color: var(--pale-blue);
}

main {
  display: flex;
  flex-direction: column;
  width: min(87%, 450px);
  background-color: white;
  border-radius: var(--radius);
  box-shadow: 0px 10px 50px var(--shadow-main);
  text-align: center;
}

img {
    border-top-left-radius: var(--radius);
    border-top-right-radius: var(--radius);
    object-fit: cover;
}

.container {
    padding: 25px;
}

h1 {
    font-size: 1.36rem;
    font-weight: 900;
    margin-top: 8px;
}

.container > p {
    font-size: 16px;
    line-height: 25px;
    color: var(--desaturated-blue);
}

.container > p:last-of-type {
    font-weight: 900;
    margin-block: 22px 5px;
}

.billing-plan {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--very-pale-blue);
    border-radius:15px;
    padding: 15px;
    margin-block: 20px;
}

.billing-plan * {
    margin: 0;
}

.billing-plan > p {
    font-size: .85rem;
    font-weight: 700;
    text-decoration: underline;
    color: var(--bright-blue);
}

.plan-price {
    margin-inline-start: -25px;
}

.plan-price h3 {
    font-size: .9rem;
    font-weight: 900;
}

.plan-price p {
    font-size: .9rem;
    color: var(--desaturated-blue);
    /* margin-top: 10px; */
}

button {
    width: 100%;
    background-color: var(--bright-blue);
    border: none;
    border-radius: 10px;
    color: white;
    height: 48px;
    font-size: .95rem;
    font-weight: 900;
    box-shadow: 0px 15px 30px var(--shadow-main);
}


.attribution {
  position: absolute;
  bottom: 0;
  padding-block-end: 10px;
  width: 100%;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
